


# Python 



This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 4

4

In [3]:
1 / 2

0.5

In [4]:
2 ** 3

8

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(3 + 2) * (4 + 5)

45

### Variable Assignment

In [8]:
# Can not start with number or special characters like % or $
variable = 2

In [9]:
variable

2

In [10]:
x = 3
y = 4

In [11]:
z = x + y

In [12]:
z

7

### Strings

In [13]:
'single quotes'

'single quotes'

In [14]:
"double quotes"

'double quotes'

In [16]:
"ritwick2023"

'ritwick2023'

### Printing

In [17]:
x = 'hello'

In [18]:
x

'hello'

In [19]:
print(x)

hello

In [20]:
num = 12
name = 'Sam'

In [21]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [22]:
[1,2,3]

[1, 2, 3]

In [23]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [35]:
my_list = ['a','b','c']

In [36]:
my_list.append('d')

In [37]:
my_list

['a', 'b', 'c', 'd']

In [38]:
my_list[0]

'a'

In [39]:
my_list[1]

'b'

In [40]:
my_list[1:]

['b', 'c', 'd']

In [41]:
my_list[:1]

['a']

In [42]:
my_list[1] = 'NEW'

In [43]:
my_list

['a', 'NEW', 'c', 'd']

In [44]:
nest = [1,2,3,[4,5,['target']]]

In [45]:
nest[3]

[4, 5, ['target']]

In [46]:
nest[3][2]

['target']

In [47]:
nest[3][2][0]

'target'

### Dictionaries

In [48]:
d = {'key1':'item1','key2':'item2'}

In [49]:
d

{'key1': 'item1', 'key2': 'item2'}

In [51]:
d['key2']

'item2'

### Booleans

In [52]:
True

True

In [53]:
False

False

## Comparison Operators

In [54]:
1 > 2

False

In [55]:
1 < 2

True

In [56]:
1 >= 1

True

In [57]:
1 <= 4

True

In [59]:
1 == 1

True

In [60]:
'hi' == 'bye'

False

## Logic Operators

In [64]:
(1 > 2) & (2 < 3)

False

In [65]:
(1 > 2) | (2 < 3)

True

In [67]:
(1 == 2) or (2 == 3) & (4 == 4)

False

## if,elif, else Statements

In [68]:
if 1 < 2:
    print('Yep!')

Yep!

In [69]:
if 1 < 2:
    print('yep!')

yep!

In [70]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [71]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [72]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [78]:
seq = [1,2,3,4,5,6,7,8,9,10]

In [75]:
for item in seq:
    print(item)

1
2
3
4
5

In [76]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [79]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10
12
14
16
18
20

## while Loops

In [80]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [82]:
range(10)

range(0, 10)

In [83]:
for i in range(5):
    print(i)

0
1
2
3
4

In [84]:
list(range(5))

[0, 1, 2, 3, 4]